body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

.hero{
  background-image: url(../imagens/bg-3.jpg);
  height: 500px;
  background-size: cover;
  background-position: right center;
  padding-top: 1px;
}

.hero-content{
  margin: 80px auto 0;
  width: 80%;
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 56px;
  text-shadow: 2px 2px 2px #000;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.hero-content p {
  background-color: rgba(0,0,0, 0.7);
  font-size: 18px;
  display: inline-block;
  padding: 16px;
  border-bottom: 2px solid;
}

.hero nav ul {
  margin: 20px 50px 0 0;
  text-align: right;
}

.hero nav li {
  display: inline-block;
  list-style-type: none;
  border: 1px solid #fff;
  margin-left: 16px;
}

.hero nav a {
  background-color: rgba(0,0,0, .3);
  padding: 16px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.hero nav a:hover{
  background-color: rgba(0,0,0, .5);
}

main{
  width: 80%;
  min-width: 600px;
  max-width: 860px;
  margin: auto;
}

article{
  background-color: #fff;
  padding: 16px;
  margin: 0 0 32px 0;
}

section{
  padding: 16px 0 0 0;
  margin: 0 0 32px 0;
}

article h2{
  border-bottom: 2px solid #ccc;
  background-color: #eee;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.btn {
  background-color: #cdc7c3;
  display: block;
  padding: 12px 16px;
  border-radius: 6px;
  text-decoration: none;
  margin: 0 0 0 355px;
  width: fit-content;
  color: #000;
}

.btn:hover{
  background-color: rgba(0,0,0, .3);
}

.rodapé{
  text-align: center;
  background-color: #6b6c68;
  color: #fff;
  padding: 30px;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 2px;
}